SLACK_SIGNIN_SECRET=123
SLACK_TOKEN=xoxb-123
PRIORITIES=SEV-1,SEV-2
CHANNEL_NAME=test
EMAILS=email1@gmail.com,email2@gmail.com,
EMAIL_API_KEY=api_key
EMAIL_FROM=test@gmail.com
APP_PORT=5000
SLACK_PORT=5001